.grey{
    background-color: lightgray;
    padding: 5px;
}
.highlight{
    color: rgb(139, 112, 72);
    background-color: rgb(228, 217, 195);
    padding: 5px;
    font-weight:bold;
}
#unique{
    font-style: italic;
    background-color: rgb(193, 212, 240);
}
*{
    font-family: sans-serif;
}